#comment_avatar_select_wrapper {
	padding:									4px;
}
#comment_avatar_select_wrapper input {
	display:									none;
}
#comment_avatar_select_wrapper img.selected {
	border:										4px solid #abf;
	margin:										0;
}
#comment_avatar_select_wrapper img,
#comment_avatar_select_wrapper img.nothing {
	margin:										4px;
}
